.crops-grid {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;

  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));

  .ant-card {
    max-width: 300px;
  }

  .ant-card {
    .ant-tag {
      margin-inline-end: unset;
    }
  }
}
@media only screen and (max-width: 600px) {
  .crops-grid {
    .ant-card {
      max-width: 100%; /* increase the max width on mobile */
    }
  }
}