.individual-detail-view {
  padding: 10px; // padding needed for drop-shadows to display properly when this component is used inside a modal

  .individual-preview-image {
    transition: filter var(--ant-motion-duration-slow);

    &:hover {
      filter: brightness(70%);
    }
  }
}