.video {
  width: fit-content;

  video {
    width: 100%;
    max-width: 800px;
  }

  .controls {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-content: flex-start;

    svg {
      font-size: 1.5rem;
    }
  }
}
